
<h2 class="sub-header">Телефонная книга
    <button class="btn btn-primary btn" style="float: right; margin-right: 10px" data-toggle="modal" data-target="#myModal">
        Добавить
    </button>
</h2>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Новый этап</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="phone_form">
                    <fieldset>
                        <!-- Text input-->
                        <div class="control-group">
                            <label class="control-label" for="phone">Номер</label>
                            <div class="controls">
                                <input id="phone" ng-model="phone_form.phone" name="phone" type="text" placeholder="79001001010" class="form-control input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="name">Имя</label>
                            <div class="controls">
                                <input id="name" ng-model="phone_form.name" name="name" type="text" placeholder="Иван" class="form-control input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="last_name">Фамилия</label>
                            <div class="controls">
                                <input id="last_name" ng-model="phone_form.last_name" name="last_name" type="text" placeholder="Иванов" class="form-control input-xlarge">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="city">Город</label>
                            <div class="controls">
                                <input id="city" ng-model="phone_form.city" name="city" type="text" placeholder="Москва" class="form-control input-xlarge">
                            </div>
                        </div>
                    </fieldset>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="submit" class="btn btn-success" data-dismiss="modal" ng-click="create(phone_form)">Создать</button>
                    </div>

                </form>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<table class="table table-striped">
    <thead>
    <tr>
        <th>№</th>
        <th>Номер</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Город</th>
        <th>Удалить</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="contact in contacts track by $index                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ">
        <th>{{$index}}</th>
        <th>{{contact.phone}}</th>
        <th>{{contact.name}}</th>
        <th>{{contact.last_name}}</th>
        <th>{{contact.city}}</th>
        <th> <span style="margin-left:12% " ng-click="delete($index)" class="glyphicon glyphicon-minus"></span></th>
     </tr>
    </tbody>
</table>
